*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(47, 204, 47);
color: white;
height: 9rem;
display: flex;
justify-content: center;
align-items: center;
}
.blackline{
    background-color: black;
    height: 2.5rem;
}
.black_algo{
    padding-top: 0.5rem;
}
.black_algo a{
    color: white;
    text-decoration: none;
    padding-left: 1.5rem;
}
h2{
    color: green;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    margin: 1rem;
    padding: 1rem;
}
.box h2{
margin: 1rem;
}
.footer_1{
    display: flex;
    align-items : center;
    justify-content: center;
    color: green;
    background-color: grey;
    height: 2.5rem;
}
.footer_1{
    margin-top: 10rem;
}

